.Rproj.user
.Rhistory
.Ruserdata

*.RData
*.Rproj

# RMD caches
*_cache/
*_files/

# RDS file with login credentials
*.rds

# data files
*.txt
*.zip
*.pdf
*.docx
*.pptx

# folders in repo
data/in_LULC/
data/in_LULC_USGS/

# Zoom recording
Recording/

01_abstract-conference.Rmd
10_lit-review.html
11_manuscript.html
data/ebd_users_GA_relMay-2022.csv





