.Rproj.user
.Rhistory
.Ruserdata

*.RData
*.Rproj

# RMD caches
*_cache/
*_files/

# RDS file with login credentials
*.rds

# data files
*.txt
*.zip
*.pdf
*.docx
*.pptx

# folders in repo
Literature/
data/boundaries_IN_PA_WII/
data/boundaries_IN_admin_old/
data/in_LULC/
data/in_LULC_USGS/

# posters
example_betterland_template_files/
# Zoom recording
recording/
03_presentation_IOC/

example_betterland_template.Rmd
example_betterland_template.html
example_betterport_template.Rmd
example_html_template.Rmd

01_abstract-conference.Rmd
10_lit-review.html
11_manuscript.html
data/ebd_users_GA_relMay-2022.csv





